<!-- ActivityMapper.xml -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ivan.communitymanagementsys.mapper.ActivityMapper">
    <update id="updateById">
        update activity
        <set>
            <if test="name!=null and name!=''">name = #{name},</if>
            <if test="description!=null and description!=''">description = #{description},</if>
            <if test="activityPlace!=null and activityPlace!=''">activity_place = #{activityPlace},</if>
            <if test="communityId!=null and communityId!=''">community_id = #{communityId},</if>
            <if test="startTime!=null">start_time = #{startTime},</if>
            <if test="endTime!=null">end_time = #{endTime}</if>
        </set>
        where id = #{id}
    </update>

    <!--分页查询活动，分页用的pagehelp插件-->
    <select id="findAllActivity" resultType="com.ivan.communitymanagementsys.entity.Activity">
        select * from activity
        <where>
            <if test="name!=null and name!=''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="description!=null and description!=''">
                and description like concat('%',#{description},'%')
            </if>
            <if test="communityId!=null and communityId!=''">
                and community_id = #{communityId}
            </if>
        </where>
        order by id desc
    </select>
</mapper>