<!-- UserMapper.xml -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ivan.communitymanagementsys.mapper.UserMapper">


    <!-- 更新用户 -->
    <update id="update" parameterType="com.ivan.communitymanagementsys.entity.User">
        UPDATE user
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sex != null and sex != '' ">sex = #{sex},</if>
            <if test="communityId != null and communityId!=''">community_id = #{communityId},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="roleId !=null and roleId !=''">role_id = #{roleId},</if>
            <if test="status != null and status !=''">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>

<!--    编辑用户并更新-->
    <update id="updateUser" parameterType="com.ivan.communitymanagementsys.entity.User">
        UPDATE user
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sex != null and sex != '' ">sex = #{sex},</if>
            <if test="communityId != null and communityId!=''">community_id = #{communityId},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="roleId !=null and roleId !=''">role_id = #{roleId},</if>
            <if test="status != null and status !=''">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="int">
        DELETE FROM user WHERE id = #{id};
    </delete>

    <!--分页查询用户-->
    <select id="findAll" resultType="com.ivan.communitymanagementsys.entity.User">
        select * from user
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="sex != null and sex != ''">
                and sex like concat('%',#{sex},'%')
            </if>
            <if test="communityId != null and communityId != ''">
                and community_id = #{communityId}
            </if>
        </where>
        order by id desc
    </select>

</mapper>