.container {
  width: 1200px;
  margin: 0 auto;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.clearfix::after {
  clear: both;
  display: table;
  content: " ";
}
.clearfix::before {
  display: table;
  content: " ";
}
